* {
    margin: 0;
    padding: 0;
    font-family: sans-serif ;

}

body {
    background-color: rgb(74, 47, 100);
    color: white;
    
}

.landing {
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    min-height: 85vh;
    transition: opacity 1s;

}

.landing h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    font-weight: lighter;
    font-size: 3rem;

}

.landing h3 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1%;
    font-family:'Courier New', Courier, monospace ;
}

.filter-form {
    /* border: 1px solid white; */
    text-align: center;
    width:60%;
}

.filter-form .filter {
    text-align: center;
    padding: 1.1rem;
    margin-bottom: 3%;
    margin-top: 2%;
    width: 60%;
    border: none;
    font-size: 1.2rem;
}

.filter-form .filter:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(255, 243, 130);
}

.filter-form .filter-submit {
    border: none;
    background-color: #ffc107;
    color: rgb(49, 47, 47);
    font-size: 1rem;
    padding: 1% 2.5%;
    border-radius: 5px;

}

.filter-form .filter-submit:hover {
    background-color: #d6a102;
}

.user-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    min-height: 85vh;
    /* border: 1px solid white; */

    
}

.card {
    /* height: 100%; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 4%;
    display: flex;
    justify-content: space-between;
}

.avatar-container {
    border: 1px solid white;
    width: 30%;
    /* border-radius: 50%; */
    /* overflow: hidden; */

}

.avatar-wrapper {
    
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.avatar-wrapper img {
    width: 100%;

}

.info-container {
    border: 1px solid white;
    width: 60%;
}


.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
  }
