* {
    margin: 0;
    padding: 0;
    font-family: sans-serif ;

}

a {
    text-decoration: none !important;
    color: white;
}

body {
    background-color: rgb(74, 47, 100);
    color: white;
    
}

.landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    min-height: 85vh;
    transition: opacity 1s;

}

.landing h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    font-weight: lighter;
    font-size: 3rem;

}

.landing h3 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1%;
    font-family:'Courier New', Courier, monospace ;
}

.filter-form {
    text-align: center;
    width:60%;
}

.filter-form .filter {
    text-align: center;
    padding: 1.1rem;
    margin-bottom: 3%;
    margin-top: 2%;
    width: 60%;
    border: none;
    font-size: 1.2rem;
}

.filter-form .filter:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(255, 243, 130);
}

.filter-form .filter-submit {
    border: none;
    background-color: #ffc107;
    color: rgb(49, 47, 47);
    font-size: 1rem;
    padding: 1% 2.5%;
    border-radius: 5px;

}

.filter-form .filter-submit:hover {
    background-color: #d6a102;
}

.user-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    min-height: 90vh;

    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 4%;
    display: flex;
    justify-content: space-between;
    transition: opacity 1s;
    background-color:  rgb(59, 5, 110);
}

.avatar-container {
    width: 30%;
}

.avatar-wrapper {
    
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.avatar-wrapper img {
    width: 100%;

}

.info-container {
    width: 65%;
}

.buttons-container {
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.back-action {
    border: none;
    background-color: #ffc107;
    color: rgb(74, 47, 100);
    font-size: 1rem;
    padding: 1% 2.5%;
    border-radius: 5px;
    margin-right: 1%;
}



.repos-action {
    border: none;
    background-color: #ffc107;
    color: rgb(74, 47, 100);
    font-size: 1rem;
    padding: 1% 2.5%;
    border-radius: 5px;
    margin-left: 1%;
}


.back-action:hover, .repos-action:hover {
    background-color: #d6a102;
}



.repos-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    min-height: 85vh;
    transition: opacity 1s;
    padding: 5% 7%;
}

.repo-card {
    background-color: rgb(59, 5, 110);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1.5%;
    padding: 4%;
    transition: all .2s ease-in-out;
}

.repo-card:hover {
    transform: scale(1.1);
}

.user-info-container-repo-view {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 2% auto;
    /* border: 1px solid white; */
}

.avatar-container-repos {
    width: 15%;
}

.count-container {
    display: flex;
    margin: 4% 0;
}

.count-container p {
    background-color: rgb(51, 49, 49);
    padding:  1%;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    margin-right: 2%;
    font-size: 0.8rem;
}

.location-p, .public-repos-p {
    margin: 3% 0;
    font-size: 0.8rem;
}


.button-github-link {
    border: none;
    background-color: #d19d00;
    color: white;
    font-size: 1rem;
    padding: 1% 2.5%;
    border-radius: 5px;
    /* margin-right: 1%; */
    margin-top: 2%;
    font-size: 0.8rem;
}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
  }
